<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Custom Service Through a Provider</title>
  </head>
  <body>
    <h1>Custom Service Through a Provider</h1>

    <!-- Preconfigured List -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div ng-if="list.errorMessage" class="error">Error:  <!--This is as simple as saying, if list.errorMessage evaluates to false (doesn't exist), don't display -->
        {{list.errorMessage}}
      </div>
      <!-- This is a different way of doing it below. Here the div exists in the DOM, but will be hidden by classes.
      If you need to manipulate the div while is hidden, you can't ng-if.
      This one will show if true -->
      <div ng-show="list.errorMessage"class="error">Error: {{list.errorMessage}} <div>
      <!-- Finally you can also do it like this. This one will hide if true, that's why we need the !(not)  -->
      <div ng-hide="!list.errorMessage"class="error">Error: {{list.errorMessage}} <div>
    </div>

  </body>
</html>
